<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <script src="https://kit.fontawesome.com/2c8d038c04.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .todo-form .form-control {
          height: calc(1.5em + 1rem + 2px); /* standard form height */
        }
      
        .todo-form button {
          height: 48px; /* match input height */
          align-self: flex-end; /* push it to the bottom */
        }
      </style>
      
</head>
<body>
    <section class="vh-100" style="background-color: #e2d5de;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
      
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
      
                  <h2 class="mb-3 text-center">Awesome Todo List</h2>
                  <h6 class="text-start">Add your tasks</h6>
      
                  <form class="mb-4 todo-form" onsubmit="addTodo()">

                    <div data-mdb-input-init class="form-outline flex-fill">
                      <input type="text" id="task" class="form-control form-control-lg" / required
                    </div>
                    <br>
                    <h6 class="text-start">Select deadline</h6>
                    <div>
                        <input type="date" name="deadline" id="deadline" class="form-control form-control-lg" / required>
                    </div>
                    <br>
                    <div>
                    <button type="submit" class="btn btn-primary btn-lg ms-2 text-center">Add</button>
                </div>
                  </form>
      
                  <ul class="list-group mb-0" id="ul">
                  </ul>
      
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  socket.emit('getData');
  socket.on('updatedTodo',(data)=>{
    if(!data){
        console.log('error in getting datas');
    }
    showTodo(data);
  });

  function showTodo(data) {
    // console.log(data.deadline);
    const ul = document.getElementById('ul');
    ul.innerHTML = ''; // Clear the list

    let todoHTML = '';

    data.data.forEach(task => {
        todoHTML += `
        <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
            <input type="checkbox" class="form-check-input me-3" id="todoCheck" onclick="updateTodo('${task._id}')"/>
            <div class="d-flex align-items-center">
                <b>${task.task}</b>
                <span style="color:red; font-weight: bold;">-${task.deadline}(Deadline)</span>
            </div>
            <button type="button" onclick="removeTodo('${task._id}')" class="btn btn-link btn-sm btn-rounded">
            <a data-mdb-tooltip-init title="Remove item">
                <i class="fas fa-times text-primary"></i>
            </a>
            </button>
        </li>`;
    });

    ul.innerHTML = todoHTML;
}


  function addTodo(){
    event.preventDefault(); // Prevent the form from submitting and refreshing the page
    const todayDate = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
    const task = document.getElementById('task').value;
    const deadline = document.getElementById('deadline').value;
    if(deadline < todayDate){
      alert("Please select a valid date");
      return;
    }
    socket.emit('addData',{task, deadline});
    document.getElementById('task').value = ''; // Clear the input field after submission
    document.getElementById('deadline').value = ''; 
    console.log(task, deadline);
  }
  function removeTodo(id){
    // console.log(id);
    // console.log('button clicked');
    socket.emit('deleteData',{id});
    
  socket.emit('getData');
  }
  function updateTodo(id){
    // console.log(id);
    socket.emit('updateData',{id, status:'completed'});
  }
</script>
</body>
</html>